{
    "31f61cb3-837e-496d-a873-ede81f329c37": {
        "id": "31f61cb3-837e-496d-a873-ede81f329c37",
        "name": "Google Search",
        "keyword": "g",
        "cmd": "https://google.com/search?q=%s",
        "icon": "/usr/share/ulauncher/media/google-search-icon.png",
        "is_default_search": true,
        "run_without_argument": false,
        "added": 1594122860.1664624
    },
    "faead568-5db2-4009-92da-2af44585c5bc": {
        "id": "faead568-5db2-4009-92da-2af44585c5bc",
        "name": "Stack Overflow",
        "keyword": "so",
        "cmd": "http://stackoverflow.com/search?q=%s",
        "icon": "/usr/share/ulauncher/media/stackoverflow-icon.svg",
        "is_default_search": true,
        "run_without_argument": false,
        "added": 1594122860.166492
    },
    "bf8d6ed9-327b-44c9-82b2-f4a3a0e0da1e": {
        "id": "bf8d6ed9-327b-44c9-82b2-f4a3a0e0da1e",
        "name": "Wikipedia",
        "keyword": "wiki",
        "cmd": "https://en.wikipedia.org/wiki/%s",
        "icon": "/usr/share/ulauncher/media/wikipedia-icon.png",
        "is_default_search": true,
        "run_without_argument": false,
        "added": 1594122860.1665134
    }
}