
# Ignore some config files/dir
config/var/*
config/tmp/*
config/ansible.log
config/known_hosts

# Ignore uptream code directory
roles/vendors/*

# Ignore generic files
*.pyc
*.retry

# Vagrant state
vagrant/.vagrant
vagrant/.vagrant/*
