# Cache
.ansible

# Ignore some config files/dir
config/var/*
config/tmp/*
config/ansible.log
config/known_hosts
config/vault_password

# Ignore uptream code directory
roles/vendors/*
collections/vendors/*

# Ignore generic files
*.pyc
*.retry

# Venv
venv/

# Vagrant state and artifacts
vagrant/.vagrant
vagrant/.vagrant/*
vagrant/ubuntu.vm

# Workaround for molecule and its vagrant driver failing
# see https://github.com/ansible-community/molecule-plugins/issues/301#issuecomment-3184082904
plugins/modules/vagrant
