
# Ignore some config files/dir
config/var/*
config/tmp/*
config/ansible.log
config/known_hosts
config/vault_password

# Ignore uptream code directory
roles/vendors/*
collections/vendors/*

# Ignore generic files
*.pyc
*.retry

# Vagrant state and artifacts
vagrant/.vagrant
vagrant/.vagrant/*
vagrant/ubuntu.vm
