ansible==11.3.0
ansible-lint==25.1.3
yamllint==1.37.1
molecule==25.9.0
molecule-plugins==25.8.12
molecule-plugins[vagrant]==25.8.12
molecule-plugins[docker]==25.8.12
passlib==1.7.4
python-vagrant==1.0.0
