app.window.position.x=67
autologin.username="{{ spotify_config_username }}"
app.window.position.saved=true
app.window.position.height=640
app.window.position.y=57
autologin.canonical_username="{{ spotify_config_canonical_username }}"
storage.last-location="{{ spotify_config_storage }}"
app.window.position.width=757
app.last-launched-version="1.0.98.78.gb45d2a6b"
app.autostart-configured={{ spotify_config_autostart }}
