{
    "com.github.ulauncher.ulauncher-emoji": {
        "id": "com.github.ulauncher.ulauncher-emoji",
        "url": "https://github.com/Ulauncher/ulauncher-emoji",
        "updated_at": "2020-07-07T13:57:12.090063",
        "last_commit": "4734455e255a401ff7507192386ed62361cb3748",
        "last_commit_time": "2019-05-20T18:00:00"
    },
    "com.github.zensoup.ulauncher-unicode": {
        "id": "com.github.zensoup.ulauncher-unicode",
        "url": "https://github.com/zensoup/ulauncher-unicode",
        "updated_at": "2020-07-07T14:02:08.805132",
        "last_commit": "0ad36c00a888e687b4bfbf76f266f1000040b337",
        "last_commit_time": "2019-07-11T06:53:31"
    },
    "com.github.ulauncher.ulauncher-timer": {
        "id": "com.github.ulauncher.ulauncher-timer",
        "url": "https://github.com/ulauncher/ulauncher-timer",
        "updated_at": "2020-07-07T19:48:54.004779",
        "last_commit": "698b72785da8fd60f22faeacfb020d2e30c93cb0",
        "last_commit_time": "2020-06-17T04:05:12"
    }
}
