---
name: Lint
run-name: Lint for ${{ github.event_name }}:${{ github.ref }} (${{ github.sha }})
"on":
  push:
    branches: main
  pull_request:
  schedule:
    - cron: "0 7 * * 1"

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      ################
      # Caches
      ################
      - name: Cache Ansible Galaxy roles
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: roles/vendors
          key: ansible-galaxy-roles-${{ hashFiles('roles/requirements.yml') }}

      - name: Cache Ansible Galaxy collections
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: collections/vendors
          key: ansible-galaxy-collections-${{ hashFiles('collections/requirements.yml') }}

      ################
      # Bootstrapping
      ################
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.12"

      - name: Set up APT dependencies
        run: sudo apt update && sudo apt install -y make

      - name: Set up Ansible dependencies
        run: make dependencies

      - name: Set up Ansible Vault
        run: echo "hello world" > ~/.ansible/default.vault && chmod 600 ~/.ansible/default.vault

      ################
      # Linting
      ################
      - name: Lint (ansible-lint)
        run: ansible-lint

      - name: Lint (yamllint)
        run: yamllint -s .
