---
name: Test
run-name: Test for ${{ github.event_name }}:${{ github.ref }} (${{ github.sha }})
"on":
  pull_request:
    paths-ignore:
      - "renovate.json"
      - ".github/workflows/renovate.yml"
      - ".github/workflows/validate-renovate.yml"
      - ".github/dependabot.yml"
      - "README.md"
  schedule:
    - cron: "0 3 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Test:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        host: ["ubuntu24-laptop", "ubuntu24-desktop"]
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      ################
      # Bootstrapping
      ################
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.12"

      - name: Init variables
        run: |
          # Ephemeral storage
          export MOLECULE_EPHEMERAL_DIRECTORY="${GITHUB_WORKSPACE}/.molecule_ephemeral/${{ matrix.host }}"
          echo "MOLECULE_EPHEMERAL_DIRECTORY="${MOLECULE_EPHEMERAL_DIRECTORY}"" >> $GITHUB_ENV
          mkdir -p "${MOLECULE_EPHEMERAL_DIRECTORY}"

          export DEFAULT_VAULT_PASSWORD_FILE="${MOLECULE_EPHEMERAL_DIRECTORY}/.default.vault"
          echo "DEFAULT_VAULT_PASSWORD_FILE="${DEFAULT_VAULT_PASSWORD_FILE}"" >> $GITHUB_ENV
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > "${DEFAULT_VAULT_PASSWORD_FILE}"

      - name: Set up dependencies
        run: make dependencies

      - name: Set up Ansible homedir and show tools versions
        run: ansible --version && vagrant --version && VBoxManage --help

      - name: Provision Vagrant box
        run: retry -t 1 -d 60 make test TEST_ARGS="-s ${{ matrix.host }}"

      ################
      # Artifacts
      ################
      - name: Find logs
        run: |
          find . -iname 'vagrant.err'
          find . -iname 'ansible.log'

      - name: Clean up molecule resources
        if: always()
        run: molecule destroy -s "${{ matrix.host }}"

      - name: Upload ansible logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: ansible-${{ matrix.host }}.log
          path: config/tmp/ansible.log

      - name: Upload vagrant logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: vagrant-${{ matrix.host }}.log
          path: ${{ env.MOLECULE_EPHEMERAL_DIRECTORY }}/vagrant.err
