---
name: Validate Renovate Config
run-name: Validate Renovate Config for ${{ github.event_name }}:${{ github.ref }} (${{ github.sha }})

on:
  pull_request:
    paths:
      - "renovate.json"
      - ".renovaterc"
      - ".renovaterc.json"
  push:
    branches:
      - main
    paths:
      - "renovate.json"
      - ".renovaterc"
      - ".renovaterc.json"
  workflow_dispatch:

jobs:
  validate:
    name: Validate Renovate Config
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

      - name: Install Renovate
        run: npm install -g renovate@42

      - name: Validate Renovate config
        run: renovate-config-validator
