---
name: Validate Renovate Config
run-name: Validate Renovate Config for ${{ github.event_name }}:${{ github.ref }} (${{ github.sha }})

on:
  pull_request:
    paths:
      - "renovate.json"
      - ".renovaterc"
      - ".renovaterc.json"
  push:
    branches:
      - main
    paths:
      - "renovate.json"
      - ".renovaterc"
      - ".renovaterc.json"
  workflow_dispatch:

jobs:
  validate:
    name: Validate Renovate Config
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Install Renovate
        run: npm install -g renovate@43

      - name: Validate Renovate config
        run: renovate-config-validator
